@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>The Word of Blake reserves the right to retains any and all records for your use of this site for any and all purposes.</p>
